@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 24px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0px 24px;
}

button {
    margin-top: 24px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.logo {
    height: 40px;
    width: 300px;
}

a {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

#about {
    padding: 48px 0;
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;

}

.about__img--wrapper {
    width: 40%;
    padding: 0 24px;
}

img {
    width: 100%
}

.section__description--wrapper {
    width: 60%;
    padding: 0 24px;
    font-size: 20px;
    line-height: 1.6;
    
}

.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

